{% extends 'income_and_expense/base.html' %}

{% load static %}

{% block main %}
	<div class="row pt-4">
		<div class="col text-center">
			<h1 class="align-middle d-inline">支出</h1>
		</div>
	</div>
	<div class="row">
		<div class="col text-center">
			<span class="align-middle text-muted">{{ this_year }}年{{ this_mon }}月</span>
		</div>
	</div>
	<div class="row pt-2">
		<div class="col text-center">
			<button class="btn" id="add-default-button" type="button" data-toggle="modal" data-target="#add-default-modal">
				<span><i class="fas fa-plus mr-2"></i>デフォルト支出追加</span>
			</button>
			<button class="btn" id="create-button" type="button" name="button">
				<span><i class="fas fa-plus mr-2"></i>支出追加</span>
			</button>
		</div>
	</div>
	<div class="row pt-4 pb-4 justify-content-center">
		<div class="col-lg-10">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-nowrap">名前</th>
							<th class="text-nowrap">支払日</th>
							<th class="text-nowrap">支払方法</th>
							<th class="text-nowrap">口座名</th>
							<th class="text-nowrap">金額</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for exp in exps %}
							{% if exp.undecided == True %}
								<tr class="table-warning">
							{% elif exp.done == True %}
								<tr class="table-secondary">
							{% else %}
								<tr>
							{% endif %}
									<td class="align-middle text-nowrap update-exp" data-url="{% url 'income_and_expense:update_exp' this_year this_mon exp.pk %}">{{ exp.name }}</td>
									<td class="align-middle text-nowrap update-exp" data-url="{% url 'income_and_expense:update_exp' this_year this_mon exp.pk %}">{{ exp.pay_date }}</td>
									<td class="align-middle text-nowrap update-exp" data-url="{% url 'income_and_expense:update_exp' this_year this_mon exp.pk %}">{{ exp.method }}</td>
									<td class="align-middle text-nowrap update-exp" data-url="{% url 'income_and_expense:update_exp' this_year this_mon exp.pk %}">{{ exp.method.account }}</td>
									<td class="align-middle text-nowrap update-exp" data-url="{% url 'income_and_expense:update_exp' this_year this_mon exp.pk %}">¥ {{ exp.amount }}</td>
									<td class="align-middle text-nowrap">
										<button type="button" class="delete-button btn btn-sm btn-danger" data-url="{% url 'income_and_expense:delete_exp' this_year this_mon exp.pk %}">
											<span><i class="fas fa-trash"></i></span>
										</button>
									</td>
								</tr>
						{% endfor %}
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td class="align-middle text-nowrap">合計</td>
							<td class="align-middle text-nowrap">¥ {{ exp_sum }}</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
								<td></td>
							<td class="align-middle text-nowrap">残高</td>
							<td class="align-middle text-nowrap">¥ {{ balance }}</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="add-default-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">デフォルト支出追加</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>デフォルトの支出を追加してもよろしいですか？</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn close_button" data-dismiss="modal">閉じる</button>
					<button type="button" class="btn confirm_button" onclick="location.href='{% url 'income_and_expense:add_default_exps' this_year this_mon %}'">追加</button>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'income_and_expense/js/expense.js' %}"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#create-button").modalForm({
				formURL: "{% url 'income_and_expense:create_exp' this_year this_mon %}"
			});
		});
	</script>
{% endblock %}