<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
	
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'income_and_expense/css/base.css' %}">
	
	<script src="https://kit.fontawesome.com/36a5fc2f82.js" crossorigin="anonymous"></script>
	
	<script src="{% static 'income_and_expense/js/jquery.selection.js' %}"></script>

	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
	<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/ja.js"></script>

	<script src="{% static 'income_and_expense/js/base.js' %}"></script>

	<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

	<script type="text/javascript">
		var this_year = {{ this_year }};
		var this_mon = {{ this_mon }};
	</script>

	<title>INEX</title>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="{% url 'income_and_expense:index' %}">
			<img src="{% static 'income_and_expense/images/icon.png' %}" width="100" height="29" class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown" id="nav-item-date" data-year="{{ this_year }}" data-mon="{{ this_mon }}">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ this_year }}年{{ this_mon }}月
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% for _ in ''|center:6 %}
							<a class="dropdown-item" href="{% url 'income_and_expense:index' %}" id="nav-item-date-{{ forloop.counter }}"></a>
						{% endfor %}
					</div>
				</li>		
				<li class="nav-item" id="nav-item-income">
					<a class="nav-link" href="{% url 'income_and_expense:income' this_year this_mon %}">収入</a>
				</li>
				<li class="nav-item" id="nav-item-expense">
					<a class="nav-link" href="{% url 'income_and_expense:expense' this_year this_mon %}">支出</a>
				</li>
				<li class="nav-item" id="nav-item-balance">
					<a class="nav-link" href="{% url 'income_and_expense:balance' this_year this_mon %}">口座残高</a>
				</li>
				<li class="nav-item" id="nav-item-account-require">
					<a class="nav-link" href="{% url 'income_and_expense:account_require' this_year this_mon %}">口座必要額</a>
				</li>
				<li class="nav-item" id="nav-item-method-require">
					<a class="nav-link" href="#">支払別必要額</a>
				</li>
				<li class="nav-item" id="nav-item-done-regist">
					<a class="nav-link" href="#">支払済一括登録</a>
				</li>
				<li class="nav-item" id="nav-item-loan">
					<a class="nav-link" href="#">ローン支払登録</a>
				</li>
				<li class="nav-item" id="nav-item-logout">
					<a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
				</li>
			</ul>
		</div>
	</nav>
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'error' %}
				<div class="alert alert-danger alert-dismissible" role="alert">
			{% else %}
				<div class="alert alert-{{ message.tags }} alert-dismissible fade show alert-fade" role="alert">
			{% endif %}
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
		{% endfor %}
	{% endif %}
	<div class="container-fluid">
		{% block main %}
		{% endblock %}
	</div>
</body>

<script type="text/javascript">
	flatpickr.localize(flatpickr.l10ns.ja);

	// メッセージを隠す
	$(".alert-fade").fadeTo(2000, 500).slideUp(500, function () {
		$(".alert-fade").slideUp(500);
	});
</script>