{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <title>Income and Expense</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Income and Expense</h1>
    <ul>
        <li><a href="{% url 'income_and_expense:table' last_year last_mon %}">前月</a></li>
        <li>{{ first_date|date:"m月d日" }}〜{{ last_date|date:"m月d日" }}</li>
        <li><a href="{% url 'income_and_expense:table' next_year next_mon %}">来月</a></li>
    </ul>
    <div>
        <h3>LastMonth</h3>
    </div>
    <table>
        <tbody>
            <tr>
                <td>残高</td>
                <td>{{ last_mon_balance }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Income</h3>
    </div>
    <form action="{% url 'income_and_expense:modify_inc' this_year this_mon %}" method="post">
        <table>
            <thead>
                <tr>
                    <th>支払済</th>
                    <th>名前</th>
                    <th>支払日</th>
                    <th>方法</th>
                    <th>口座</th>
                    <th>金額</th>
                    <th>未決定</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for inc_form in inc_forms %}
                <tr>
                    <td>{{ inc_form.done }}</td>
                    <td>{{ inc_form.name }}</td>
                    <td>{{ inc_form.pay_date }}</td>
                    <td>{{ inc_form.method }}</td>
                    <td>
                        {% for inc in incs %}
                            {% ifequal inc.id inc_form.id.value %}
                                {{ inc.method.account }}
                            {% endifequal %}
                        {% endfor %}
                    </td>
                    <td>{{ inc_form.amount }}</td>
                    <td>{{ inc_form.undecided }}</td>
                    <td>{{ inc_form.DELETE }}</td>
                </tr>
                    {% for hidden_field in inc_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {{ inc_forms.management_form }}
        {% csrf_token %}
        <input type="submit" value="更新">
    </form>
    <table>
        <tbody>
            <tr>
                <td>合計</td>
                <td>{{ inc_sum }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Expense</h3>
    </div>
    <form action="{% url 'income_and_expense:modify_exp' this_year this_mon %}" method="post">
        <table>
            <thead>
                <tr>
                    <th>支払済</th>
                    <th>名前</th>
                    <th>支払日</th>
                    <th>準備日</th>
                    <th>方法</th>
                    <th>口座</th>
                    <th>金額</th>
                    <th>未決定</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for exp_form in exp_forms %}
                <tr>
                    <td>{{ exp_form.done }}</td>
                    <td>{{ exp_form.name }}</td>
                    <td>{{ exp_form.pay_date }}</td>
                    <td>{{ exp_form.period_date }}</td>
                    <td>{{ exp_form.method }}</td>
                    <td>
                        {% for exp in exps %}
                            {% ifequal exp.id exp_form.id.value %}
                                {{ exp.method.account }}
                            {% endifequal %}
                        {% endfor %}
                    </td>
                    <td>{{ exp_form.amount }}</td>
                    <td>{{ exp_form.undecided }}</td>
                    <td>{{ exp_form.DELETE }}</td>
                </tr>
                    {% for hidden_field in exp_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {{ exp_forms.management_form }}
        {% csrf_token %}
        <input type="submit" value="更新">
    </form>
    <table>
        <tbody>
            <tr>
                <td>合計</td>
                <td>{{ exp_sum }}</td>
            </tr>
            <tr>
                <td>残高</td>
                <td>{{ balance }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>Account require</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>金額</th>
            </tr>
        </thead>
        <tbody>
            {% for account_require in account_requires %}
            <tr>
                <td>{{ account_require.account }}</td>
                <td>{{ account_require.require }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h3>Account balance</h3>
    </div>
    <form action="{% url 'income_and_expense:modify_balance' this_year this_mon %}" method="post">
        <table>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                {% for account_balance_form in account_balance_forms %}
                <tr>
                    <td>
                        {% for account_balance in account_balances %}
                            {% ifequal account_balance.account.id account_balance_form.id.value %}
                                {{ account_balance.account }}
                            {% endifequal %}
                        {% endfor %}
                    </td>
                    <td>{{ account_balance_form.balance }}</td>
                </tr>
                    {% for hidden_field in account_balance_form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {{ account_balance_forms.management_form }}
        {% csrf_token %}
        <input type="submit" value="更新">
    </form>
    <table>
        <tbody>
            <tr>
                <td>実残高</td>
                <td>{{ account_balance_sum }}</td>
            </tr>
            <tr>
                <td>DB上残高</td>
                <td>{{ balance_on_db }}</td>
            </tr>
            <tr>
                <td>残高誤差</td>
                <td>{{ balance_diff }}</td>
            </tr>
        </tbody>
    </table>
</body>