.arrow {
    margin: 5px;
    padding: 5px;
}

.container {
    box-sizing: content-box;
    max-width: 1160px;
}

.my-table {
    width: 1160px;
}

.table_check {
    width: 30px;
}

.table_name {
    width: 220px;
}

.table_date_income {
    width: 255px;
}

.table_date_expense {
    width: 170px;
}

.table_method_income {
    width: 345px;
}

.table_method_expense {
    width: 260px;
}

.table_account {
    width: 150px;
}

.table_amount {
    width: 100px;
}