.arrow {
    margin: 5px;
    padding: 5px;
}

@media (min-width: 576px) and (max-width: 1919px) {
    .my-table {
        table-layout: fixed;
    }
    
    .check {
        width: 30px;
    }
    
    .name {
        width: 200px;
    }
    
    .date {
        width: 170px;
        padding-right: 10px;
    }
    
    .method {
        width: 260px;
    }
    
    .account {
        width: 170px;
    }
    
    .amount {
        width: 150px;
    }
}